$styleColor:rgb(128,64,144);
$elementColor:#fff;
$spanColor:rgb(3, 3, 3);
$bottomColor:rgb(229, 229, 229);
$htmlBackColor:rgb(240, 240, 240);

.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 

a{
    text-decoration: none;
    color:rgb(51,51,51);
}

a:visited {color: rgb(51,51,51)}  

body {
    background-color: $htmlBackColor;
    font-family: PingFangSC-Regular;
    height:100%;
    margin:0;
}

ul{
    padding:0;
    margin:0;
}

li{
    list-style-type:none;
}

p{
    margin:0;
}

h5{
    margin:0;
}

@font-face {
    font-family: "iconfont";
    src: url('../css/iconfont/iconfont.eot');
    /* IE9*/
    src: url('../css/iconfont/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../css/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../css/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../css/iconfont/iconfont.svg') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.userInfo-header {
    height: 50px;
    text-align: center;
    position: relative;
    background-color: $elementColor;
    border-bottom:1px solid $bottomColor;
    >div {
        position: absolute;
        top: 50%;
        height: 100%;
        padding-left: 13.5px;
        transform: translateY(-50%);
        >img {
            margin-top:15px;
        }
    }
    >span {
        font-size: 18px;
        line-height: 50px;
        color: $spanColor;
        letter-spacing: 1.8px;
    }
}

.userInfo-footer{
    height:49px;
    background-color:$elementColor;
    text-align: center;
    width:100%;
    span{
        line-height:49px;
        font-size:16px;
        color:$styleColor;
    }
}

.my-footer{
    background-color: rgb(128,64,144);
    span{
        color:#fff;
    }
}

.my-footer1{
    position: absolute;
    bottom: 0;
}