.refundDeil a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #804090; }
.refundDeil .active-btn:visited {
  color: #804090; }
.refundDeil .userInfo-header .consult {
  position: absolute;
  right: 0;
  padding-right: 15px; }
  .refundDeil .userInfo-header .consult > span {
    line-height: 44px;
    font-size: 15px;
    color: #333333; }
.refundDeil .consult-time {
  height: 44px;
  background: #f5a45a;
  box-sizing: border-box;
  padding: 0 15px; }
  .refundDeil .consult-time > span {
    color: #fff;
    font-size: 13px;
    line-height: 44px; }
  .refundDeil .consult-time > span:last-child {
    float: right; }
.refundDeil .consult-time1 {
  background-color: #f37171; }
.refundDeil .consult-time2 {
  background-color: #c986d5; }
.refundDeil .consult-due {
  background: #fff;
  height: 44px;
  padding: 0 15px;
  line-height: 44px;
  border: 0.5px solid #e5e5e5; }
  .refundDeil .consult-due > span {
    font-size: 15px;
    color: #333333; }
.refundDeil .consult-choose {
  background: #fff;
  box-sizing: border-box; }
  .refundDeil .consult-choose > ul {
    padding: 16px 0 0 15px; }
    .refundDeil .consult-choose > ul > li:first-child {
      border-bottom: 0.5px solid #e5e5e5;
      padding-bottom: 16px; }
    .refundDeil .consult-choose > ul > li:last-child {
      padding: 12px 0; }
    .refundDeil .consult-choose > ul .choose-btn div {
      float: left;
      width: 50%;
      text-align: center; }
      .refundDeil .consult-choose > ul .choose-btn div > span {
        width: 90px;
        height: 30px;
        display: inline-block;
        border: 0.5px solid #999999;
        border-radius: 50px;
        line-height: 28px;
        font-size: 12px;
        text-align: center; }
    .refundDeil .consult-choose > ul .choose-btn div:last-child > span {
      color: #804090;
      border-color: #804090; }
    .refundDeil .consult-choose > ul .choose-btn1 div {
      width: 33%; }
  .refundDeil .consult-choose .normal-style {
    padding: 0 0 0 15px; }
    .refundDeil .consult-choose .normal-style > li {
      list-style-type: disc;
      color: #666666; }
.refundDeil .consult-deil {
  background: #fff;
  padding-left: 15px;
  margin-top: 8px; }
  .refundDeil .consult-deil > ul > li {
    height: 44px;
    padding-right: 15px;
    line-height: 44px;
    border-bottom: 0.5px solid #e5e5e5; }
    .refundDeil .consult-deil > ul > li > span:first-child {
      color: #666666; }
    .refundDeil .consult-deil > ul > li > span:last-child {
      float: right; }
    .refundDeil .consult-deil > ul > li > div {
      float: right; }
      .refundDeil .consult-deil > ul > li > div > input {
        width: 100%;
        border: none;
        outline: none;
        text-align: right; }
  .refundDeil .consult-deil > ul > li:last-child {
    border: none; }
.refundDeil .consult-return {
  margin-top: 0; }
  .refundDeil .consult-return li:first-child span {
    color: #333333; }
  .refundDeil .consult-return li:last-child span {
    font-size: 13px;
    color: #666666; }
.refundDeil .return-date {
  padding: 12px 0 0 15px; }
  .refundDeil .return-date > span {
    font-size: 10px;
    color: #666666; }

/*# sourceMappingURL=refundDeil.css.map */
