@font-face {
  font-family: "iconfont";
  src: url("../iconfont/iconfont.eot");
  /* IE9*/
  src: url("../iconfont/iconfont.eot") format("embedded-opentype"), url("../iconfont/iconfont.woff") format("woff"), url("../iconfont/iconfont.ttf") format("truetype"), url("../iconfont/iconfont.svg") format("svg");
  /* iOS 4.1- */ }
html,
body {
  height: 100%; }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.beauty {
  background: #fff; }
  .beauty .userInfo-header > ul {
    position: absolute;
    left: 40px;
    height: 100%;
    width: 88%; }
    .beauty .userInfo-header > ul > li {
      float: left;
      width: 25%;
      height: 100%; }
      .beauty .userInfo-header > ul > li > span {
        font-size: 13px;
        line-height: 50px;
        color: #999999; }
    .beauty .userInfo-header > ul .list-active {
      border-bottom: 1.5px solid #804090; }
      .beauty .userInfo-header > ul .list-active > span {
        color: #804090; }
  .beauty .sort-content {
    height: 44px;
    width: 100%;
    border-bottom: 0.5px solid #e6e6e6; }
    .beauty .sort-content > ul {
      height: 100%;
      width: 100%;
      padding-left: 15px;
      background: #fafafa; }
      .beauty .sort-content > ul > li {
        float: left;
        width: 25%;
        height: 100%;
        text-align: center;
        line-height: 44px;
        background: #fafafa;
        color: #999999;
        font-size: 13px; }
        .beauty .sort-content > ul > li i {
          color: #999999; }
      .beauty .sort-content > ul #sort-price,
      .beauty .sort-content > ul #sort-mix {
        position: relative; }
        .beauty .sort-content > ul #sort-price i,
        .beauty .sort-content > ul #sort-mix i {
          position: absolute;
          font-size: 14px; }
      .beauty .sort-content > ul #sort-price .sort-top {
        top: -3px;
        height: 50%; }
      .beauty .sort-content > ul #sort-price .sort-bottom {
        top: 4px;
        height: 50%; }
      .beauty .sort-content > ul .sort-active {
        color: #804090; }
        .beauty .sort-content > ul .sort-active i {
          color: #804090; }
  .beauty .content-class {
    background: #fff; }
  .beauty .content-list > ol {
    background: #fff;
    padding-left: 15px;
    padding-top: 16px; }
    .beauty .content-list > ol > li {
      float: left;
      width: 170px;
      margin-right: 5px; }
      .beauty .content-list > ol > li img {
        width: 100%;
        height: 170px;
        border-radius: 10px; }
      .beauty .content-list > ol > li h3 {
        color: #333333;
        font-size: 14px;
        text-align: center;
        margin: 12px 0 4px 0;
        height: 19px;
        overflow: hidden; }
      .beauty .content-list > ol > li div {
        text-align: center;
        margin-bottom: 13px; }
        .beauty .content-list > ol > li div > span:nth-child(1) {
          font-size: 12px;
          color: #666666;
          margin-right: 5px; }
        .beauty .content-list > ol > li div > span:nth-child(2) {
          font-size: 10px;
          color: #999999;
          text-decoration: line-through; }
  .beauty .animation {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    transform: rotate(360deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg); }
  .beauty .animation1 {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg); }
  .beauty .beauty-alert {
    height: 100%;
    width: 300px;
    position: relative;
    box-sizing: border-box;
    padding-top: 34.5px; }
    .beauty .beauty-alert h3 {
      margin: 0px 0 0 10px;
      color: #999999;
      font-weight: normal;
      font-size: 15px; }
    .beauty .beauty-alert h5 {
      margin: 27px 0 15px 10px;
      color: #666666;
      font-size: 13px;
      font-weight: normal; }
    .beauty .beauty-alert .beauty-sign {
      margin-left: 10px;
      padding-bottom: 12px;
      border-bottom: 0.5px solid #e6e6e6; }
      .beauty .beauty-alert .beauty-sign button {
        width: 90px;
        height: 40px;
        border-radius: 3px;
        border: none;
        outline: none;
        color: #666666;
        background: #f0f0f0; }
      .beauty .beauty-alert .beauty-sign .beauty-sign-active {
        background: #804090;
        color: #fff; }
    .beauty .beauty-alert .beauty-price {
      border-bottom: 0.5px solid #e6e6e6;
      padding-bottom: 12px;
      padding-left: 10px; }
      .beauty .beauty-alert .beauty-price input {
        width: 120px;
        height: 40px;
        border-radius: 3px;
        border: none;
        outline: none;
        color: #cccccc;
        text-align: center;
        background: #f0f0f0; }
      .beauty .beauty-alert .beauty-price span {
        color: #e6e6e6; }
    .beauty .beauty-alert .beauty-time {
      margin-left: 10px; }
      .beauty .beauty-alert .beauty-time button {
        width: 138px;
        height: 40px;
        background: #f0f0f0;
        border-radius: 3px;
        border: none;
        color: #666666;
        margin-bottom: 10px;
        outline: none; }
      .beauty .beauty-alert .beauty-time .beauty-time-active {
        background: #804090;
        color: #fff; }
    .beauty .beauty-alert .beauty-btn {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 49px; }
      .beauty .beauty-alert .beauty-btn button {
        float: left;
        border-radius: 3px;
        border: none;
        height: 100%;
        width: 50%;
        background: #e6e6e6;
        font-size: 16px;
        color: #666666;
        letter-spacing: 1.6px;
        outline: none; }
      .beauty .beauty-alert .beauty-btn .button-active {
        background: #804090;
        color: #fff; }

/*# sourceMappingURL=beauty.css.map */
